body {
    background: #181818;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}

h1{
    text-align: center;
    color: white;
    margin: 0px;
    padding: 0px;
    margin-bottom: 25px;
}

h1 span{
    color: goldenrod;
}


.lightbox-gallery {
    /* background-image: linear-gradient(#4A148C, #E53935); */
    background-image: url(../images/background_build.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    opacity: 0.7;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    color: #000;
    overflow-x: hidden;
} 

.lightbox-gallery p {
    color: #fff
}

.lightbox-gallery h2 {
    font-weight: bold;
    margin-bottom: 40px;
    padding-top: 150px;
    color: #fff
}

@media (max-width:767px) {
    .lightbox-gallery h2 {
        margin-bottom: 25px;
        padding-top: 25px;
        font-size: 24px
    }
}

.lightbox-gallery .intro {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto 40px
}

.lightbox-gallery .intro p {
    margin-bottom: 0
}

.lightbox-gallery .photos {
    padding-bottom: 20px
}

.lightbox-gallery .item {
    padding-bottom: 30px
}

/* inicio footer */
footer {
    padding: 50px 0;
    text-align: center;
    color: #fff;
}


footer a {
    color: goldenrod;
}

footer a:hover {
    color: #C0C0C0;
}

footer .list-inline .list-inline-item {
    padding: 10px 15px;
}

footer .list-inline .list-inline-item:hover {
    padding: 10px 15px;
}

footer small{
    color: goldenrod;
}
/* fin footer */


/* BARRA DE SCROLL */
::-webkit-scrollbar{
    width: 10px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb{
    background-color: goldenrod; 
    background-image: -webkit-linear-gradient(90deg,rgba(255, 255, 255, .2) 25%,transparent 25%,transparent 50%,rgba(255, 255, 255, .2) 50%,rgba(255, 255, 255, .2) 75%,transparent 75%,transparent)
}
/* TERMINA BARRA DE SCROLL */