::-moz-selection {color: #000; background: #ffcd00;}
::selection      {color: #000; background: #ffcd00;}

body {
    /* background: #181818; */
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}


a:hover { text-decoration: none; }

nav a:hover {
    color: #C0C0C0;
}

.navbar-toggler {
    font-size: 16px;
}

.navbar-toggler:focus {
    outline: none;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(232,208,81, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
    border-color: rgba(232,208,81, 0.5);
} 


.lightbox-gallery h1 {
    font-weight: bold;
    margin-bottom: 30px;
    padding-top: 100px;
}

@media (max-width:767px) {
    .lightbox-gallery h2 {
        margin-bottom: 25px;
        padding-top: 25px;
        font-size: 24px
    }
}

.lightbox-gallery .intro {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto 40px
}

.lightbox-gallery .intro p {
    margin-bottom: 0
}

.lightbox-gallery .photos {
    padding-bottom: 20px
}

.lightbox-gallery .item {
    padding-bottom: 30px
}

/* inicio footer */
footer {
    padding: 50px 0;
    text-align: center;
    color: #fff;
}


footer a {
    color: goldenrod;
}

footer a:hover {
    color: #C0C0C0;
}

footer .list-inline .list-inline-item {
    padding: 10px 15px;
}

footer .list-inline .list-inline-item:hover {
    padding: 10px 15px;
}

footer small{
    color: goldenrod;
}
/* fin footer */

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

@media only screen and (max-width: 800px) {
    h2{
            min-height: auto;
            margin-top: 20%;
    }
}



/* scrollbar */
::-webkit-scrollbar{
    width: 10px;
    background-color: #ffcd00;
}
::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: rgb(46,54,69);
}
::-webkit-scrollbar-thumb{
    background-color: #ffcd00; 
    background-image: -webkit-linear-gradient(90deg,rgba(255, 255, 255, .2) 25%,transparent 25%,transparent 50%,rgba(255, 255, 255, .2) 50%,rgba(255, 255, 255, .2) 75%,transparent 75%,transparent)
}
/* this is for firefox */
:root{
    scrollbar-face-color: #ffcd00; /* Firefox 63 compatibility */
    scrollbar-track-color: rgb(46,54,69); /* Firefox 63 compatibility */
    scrollbar-color: #ffcd00 rgb(46,54,69);
    scrollbar-width: thin;
}
/* end scrollbar */