@charset "UTF-8";

/*----------------------------------------
SOBREESCRIBIENDO  LOS ESTILOS DE BOOTSTRAP
------------------------------------------*/

.bg-primary {
    background-color: rgba(0,0,0,1) !important;
}
.bg-primary1 {
    background-color: blanchedalmond !important;
}

.text-primary {
    color: #000 !important;
}

.btn-primary {
    background-color: #000 !important;
    border-color: yellow !important;
    color: goldenrod !important;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: goldenrod !important;
    color: black !important;
}

.btn-primary:active {
    background-color: goldenrod !important;
    border-color: goldenrod !important;
}

.btn-primary:focus {
    -webkit-box-shadow: 0 0 0 0.2rem  rgba(218, 165, 32, 0.5) !important;
    box-shadow: 0 0 0 0.2rem  rgba(0, 0, 0, 0.5) !important;
}

/*--------------------------
ESTILOS DEL DISEÑO
---------------------------*/
body {
    color: #44484a;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}

nav.navbar {
    background-color: #000000;
}

a:hover { text-decoration: none; }

.card:hover {
    -webkit-box-shadow: 0 0 10px #0c0c0c3b;
    box-shadow: 0 0 10px #0c0c0c3b;
}

#testimonial{
    background: #f1f1f1;
    pad: 50px 0 30px 0;
    text-align: center;
    margin-top: 40px;
}
/* This is for about us */
#header{
    margin-top: 150px;
}

/*--------------------------
MAIN CAROUSEL STYLES
---------------------------*/
.carousel-inner img {
    width: 100%;
    max-height: 100vh;
}

.carousel-inner {
    height: 100vh;
}

/* CAROUSEL CLIENTS ABOUT US*/
.brands {
    width: 100%;
    padding-top: 90px;
    padding-bottom: 90px;
}

.brands_slider_container {
    height: 130px;
    border: solid 1px #e8e8e8;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    padding-left: 97px;
    padding-right: 97px;
}

.brands_slider {
    height: 100%;
    margin-top: 10px;
}

.brands_item {
    height: 100%;
}

.brands_item img {
    max-width: 20vmax;
    height: 100px;
}

.brands_nav {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 5px;
    cursor: pointer;
}

.brands_nav i {
    color: goldenrod;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.brands_nav:hover i {
    color: #000;
}

.brands_prev {
    left: 40px;
}

.brands_next {
    right: 40px;
}

/* //////////////
   Footer
//////////////*/

footer {
    padding: 50px 0;
    text-align: center;
    color: #fff;
}


footer a {
    color: goldenrod;
}

footer a:hover {
    color: #C0C0C0;
}

footer .list-inline .list-inline-item {
    padding: 10px 15px;
}

footer .list-inline .list-inline-item:hover {
    padding: 10px 15px;
}

footer small{
    color: goldenrod;
}
/* //////////////
   End Footer
//////////////*/

/*------------------------
SHOW DE LOS MEDIAS QUERIES
------------------------*/

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}


/* BARRA DE SCROLL */
::-webkit-scrollbar{
    width: 10px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb{
    background-color: goldenrod; 
    background-image: -webkit-linear-gradient(90deg,rgba(255, 255, 255, .2) 25%,transparent 25%,transparent 50%,rgba(255, 255, 255, .2) 50%,rgba(255, 255, 255, .2) 75%,transparent 75%,transparent)
}
/* TERMINA BARRA DE SCROLL */


/* SOCIAL MEDIA LOGOS  */
.fab{
    width: 55px;
    text-align: center;
    font-size: 24px;
}

.social{
    position: fixed;
    left: -40px;
    top:275px;
}

.sociaL ul{
    list-style: none;
}

.social a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    z-index: 0;
    transition: 0.9s ease;
}

.fa-facebook-f{
    background: #3b5998;
}

.fa-twitter{
    background: #00abf0;
}
.fa-instagram{
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}
.fa-steam{
    background:linear-gradient(120deg, #00adee, #000000);
}
.fa-discord{
    background: linear-gradient(-50deg, #7289DA, #fff);
}
.fa-mixer{
background: #3498DB;
}

.social a:hover{
    padding: 10px 40px;
}

@keyframes popup{
    0%{
        width: 0rem;
        height: 0rem;
    }
    50%{
        width: 8rem;
        height: 8rem;
    }
    100%{
        width: 6.6rem;
        height: 6.6rem;
    }
}