@charset "UTF-8";

::-moz-selection {color: #000; background: #ffcd00;}
::selection      {color: #000; background: #ffcd00;}

/*----------------------------------------
SOBREESCRIBIENDO  LOS ESTILOS DE BOOTSTRAP
------------------------------------------*/

.bg-primary {
    background-color: rgba(0,0,0,1) !important;
}
.bg-primary1 {
    background-color: blanchedalmond !important;
}

.text-primary {
    color: #000 !important;
}

.btn-primary {
    background-color: #000 !important;
    border-color: yellow !important;
    color: #ffcd00 !important;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #ffcd00 !important;
    color: black !important;
}

.btn-primary:active {
    background-color: #ffcd00 !important;
    border-color: #ffcd00 !important;
}

.btn-primary:focus {
    -webkit-box-shadow: 0 0 0 0.2rem  rgba(218, 165, 32, 0.5) !important;
    box-shadow: 0 0 0 0.2rem  rgba(0, 0, 0, 0.5) !important;
}

/*--------------------------
ESTILOS DEL DISEÑO
---------------------------*/
body {
    color: #44484a;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}

nav.navbar {
    background-color: #000000;
}

nav a:hover {
    color: #C0C0C0;
}

.navbar-toggler {
    font-size: 16px;
}

.navbar-toggler:focus {
    outline: none;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(232,208,81, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
    border-color: rgba(232,208,81, 0.5);
} 

a:hover { text-decoration: none; }

.card:hover {
    -webkit-box-shadow: 0 0 10px #0c0c0c3b;
    box-shadow: 0 0 10px #0c0c0c3b;
}

#testimonial{
    background: #f1f1f1;
    pad: 50px 0 30px 0;
    text-align: center;
    margin-top: 40px;
}
/* This is for about us */
#header{
    margin-top: 150px;
}

/*--------------------------
MAIN CAROUSEL STYLES
---------------------------*/
.carousel-inner img {
    width: 100%;
    max-height: 100vh;
}

.carousel-inner {
    height: 100vh;
}

/* CAROUSEL CLIENTS ABOUT US*/
.brands {
    width: 100%;
    padding-top: 90px;
    padding-bottom: 90px;
}

.brands_slider_container {
    height: 130px;
    border: solid 1px #e8e8e8;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    padding-left: 97px;
    padding-right: 97px;
}

.brands_slider {
    height: 100%;
    margin-top: 10px;
}

.brands_item {
    height: 100%;
}

.brands_item img {
    max-width: 20vmax;
    height: 100px;
}

.brands_nav {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 5px;
    cursor: pointer;
}

.brands_nav i {
    color: #ffcd00;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.brands_nav:hover i {
    color: #000;
}

.brands_prev {
    left: 40px;
}

.brands_next {
    right: 40px;
}

/* //////////////
   Footer
//////////////*/

footer {
    padding: 50px 0;
    text-align: center;
    color: #fff;
}


footer a {
    color: #ffcd00;
}

footer a:hover {
    color: #C0C0C0;
}

footer .list-inline .list-inline-item {
    padding: 10px 15px;
}

footer .list-inline .list-inline-item:hover {
    padding: 10px 15px;
}

footer small{
    color: #ffcd00;
}
/* //////////////
   End Footer
//////////////*/

/*------------------------
SHOW DE LOS MEDIAS QUERIES
------------------------*/

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

@media only screen and (max-width: 800px) {
    .carousel-inner{
            width: 100%;
            height: auto;
            background-size: 100% !important;
            background-position: center center;
            min-height: auto;
            margin-top: 18%;
    }
}

@media only screen and (max-width: 800px) {
    .carousel-inner p, h5{
            color: #ffcd00;
            background-color: rgba(0, 0, 0, 0.8);
            font-size: 14px;
    }
}


/* scrollbar */
::-webkit-scrollbar{
    width: 10px;
    background-color: #ffcd00;
}
::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: rgb(46,54,69);
}
::-webkit-scrollbar-thumb{
    background-color: #ffcd00; 
    background-image: -webkit-linear-gradient(90deg,rgba(255, 255, 255, .2) 25%,transparent 25%,transparent 50%,rgba(255, 255, 255, .2) 50%,rgba(255, 255, 255, .2) 75%,transparent 75%,transparent)
}
/* this is for firefox */
:root{
    scrollbar-face-color: #ffcd00; /* Firefox 63 compatibility */
    scrollbar-track-color: rgb(46,54,69); /* Firefox 63 compatibility */
    scrollbar-color: #ffcd00 rgb(46,54,69);
    scrollbar-width: thin;
}
/* end scrollbar */
